<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <div class="mdl-logo">JxzTheme</div>
    <ul class="mdl-mini-footer__link-list">
      <li>Theme make for JorgeJxz on github</li>
    </ul>
  </div>
  <div class="mdl-mini-footer__rigth-section">
    <%- partial('partials/list-categories') %>
  </div>
</footer>
