<nav>
    <ul class="paginacion">
        <% if (page.prev){ %>
            <li><a href="<%- config.root %><%- page.prev_link %>">Anterior</a></li>
        <% } %>
        <% if (page.next){ %>
            <li><a href="<%- config.root %><%- page.next_link %>">siguiente</a></li>
        <% } %>
    </ul>
</nav>
